*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #555;
}
div.slider {
    position: relative;
    width: 60%;
    overflow: hidden;
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    max-width: 100%;
    transition: all 0.5s ease-in;
}
 input {
    display: none;
}
.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.dots label {
    width: 20px;
    height: 20px;
    background-color: black;
    margin: 6px;
    border-radius: 50%;
    border: solid 3px white;
    cursor: pointer;
    transition: all 0.2s ease;
}
.dots label:hover {
    background-color: white;
}
#img1:checked ~ .images .m1 {
    margin-right: 0;
}
#img2:checked ~ .images .m2 {
    margin-left: -100%;
}
#img3:checked ~ .images .m3 {
    margin-left: -200%;
}
#img1:checked ~ .dots label:nth-child(1) {
    background-color: white;
}
#img1:checked ~ .controls label:nth-child(1) {
    background-color: white;
    display: none;
}
#img1:checked ~ .controls label:nth-child(3) {
    background-color: white;
    display: none;
}
#img1:checked ~ .controls label:nth-child(2) {
    background-color: white;
    margin-left: calc(100% - 100px);
}
#img2:checked ~ .dots label:nth-child(2) {
    background-color: white;
}
#img2:checked ~ .controls label:nth-child(2) {
    background-color: white;
    display: none;
}
#img3:checked ~ .dots label:nth-child(3) {
    background-color: white;
}
#img3:checked ~ .controls label:nth-child(1) {
    background-color: white;
    display: none;
}
#img3:checked ~ .controls label:nth-child(3) {
    background-color: white;
    display: none;
}

.controls label {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: solid 3px black;
    /* display: none; */
}
.controls {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider {
    position: relative;
}
.controls {
    position: absolute;
    top: calc(50% - 50px);
}